@font-face {
font-family: 'minecraft';
src: url('/font/Minecraftia-Regular.ttf') format('truetype');
}
body {
  font-family: 'minecraft';
  font-size: 14px;
  text-align: center;
  background-color: #000000;
  color: white;
}
span, i{
vertical-align: top;
}
a { vertical-align:text-bottom; }
select {color:black;}
img .logo{
  width: 3%;
}

/*SHOP*/

.shop{
  width: 100%;
  background: white;
  padding: 5%;
  overflow:hidden;
}

.shop-overview-box{
  width: 80%;
  float: right;
  text-align: left;
  display: table;
}
.shop-overview-box h1{
  margin-left: 100px;
}

.shop-box{
  width: auto;
  max-height: 300px;
  margin-left: 100px;
  margin-right: 90px;
  margin-bottom: 100px;
  background: white;
  float: left;
  display:inline-grid;
  padding: 20px;
}
.shop-image {
  max-width: 250px;
  max-height: 200px;
  padding: 5px;
  overflow: hidden;
}
.shop-image img{
  padding: 5px;
  width: 200px;
}

.shop-description{
  width: 200px;
  height: auto;
  margin:1px;
  padding: 5%;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  text-align:left;
  display: block;
}
.buttons{
  width: 100%;
  height: 100px;
  display:inline;
}
.button-warenkorb{
  background: orange;
  color: white;
  text-align: center;
  padding:6px;
  border: none;
  width: 100%;
}
.button-details{
  background: lightblue;
  color: white;
  text-align: center;
  padding:10px;
  border: none;
  float: left;
  width: 50%;
}
/*FORMULAR*/
  legend{
    width: 100%;
    height: 5%;
    background: white;
    margin:10px;
    padding: 10px;
    border: 1px solid black;
  }
  label{
  margin:10px;
  float: left;
  display: inline-block;
  }

  textarea {
    width: 100%;
    height: 100px;
    color: black;
    resize: none;
  }

/*ABOUT US*/
/*MAIN*/
.main_button{
  background: lightgreen;
  color: white;
  text-align: center;
  padding:20px 80px;
  border: none;
  margin: 5px;
}
.main_button:hover{
  background: green;
}
.overview{
  width: 100%;
  background: #edf3ff;
  color: black;
  padding-top: 5%;
  padding-bottom: 20%;
  border-top: 1px dotted lightgrey;
}
/*FAQ*/
.faq-overview-box{
  width: 70%;
  height: 100%;
  float: right;
  padding: 5%;
}
.faq-box{
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding: 5%;
  background: white;
  border: 1px dotted grey;
  float: left;
}
/*About Us*/
.member-box{
width: 100%;
padding: 5%;
background: green;
}
.member{
  margin-left: 5%;
  margin-right: 5%;
  padding: 5%;
  width: 20%;
  height: 200px;
  background: lightgrey;
  color:black;
  text-align: center;
  display: inline;
}

/*Login*/

.login-box{
  margin-left: 30%;
  margin-right: 30%;
  border: 1px solid black;
  padding: 5px;
}
.login-box input{
  width: 150px;
}



/* BOOTSTRAP */
.container{
  width: 60%;
  background-color: black;
}
.navbar{
  background-color: black;
  color: white;
}
.navbar ul li a{
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}
.nav{
  color: white;
}

.navbar ul li a:hover{
  color:black;
}
.navbar ul li a:active{
  color:black;
}

/*Center Navigation Buttons*/
.navbar-nav{
  display: inline-block;
  float: none;
}
.dropdown-menu li a{
  color:black;
}

.bg-black{
  background-color: #000000;
}

.col-sm-7{
  overflow: hidden;
  float: left;
}

.col-sm-7 img{
  width: 20%;
  margin:auto;
  display: block;
}
 .banner-bot-border{
   border-bottom: 1px solid black;
 }

.container-padding{
  padding: 100px 50px;
}
.jumbotron{
  background-color: white;
  padding: 50px;
}
.footer {
  background-color: #f6f6f6;
  color:black;
}
.footer-header{
  height: 1px;
  background-color: #838384;
}
.social-list{
  display:inline-block;
  list-style-type: none;
}
.social-list li {
  padding: 2px;
}
.social-list i {
  margin: 5px;
}
.footer-main{
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid lightgrey;
}

kbd{
  padding: 2px;
  text-align: center;
}

.bg-red {
background-color: #af1136;
}

.bg-home{
  background-image: url('/img/content/home.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  min-height: 600px;
  color: white;
}

.bg-about{
  background-image: url('/img/content/home.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  min-height: 600px;
  color: white;
}

.bg-rep{
  background-image: url('/img/content/home.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  min-height: 600px;
  color: white;
}

.bg-shop{
  background-image: url('/img/content/happycontrollercollage.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  min-height: 600px;
  background-color: white;
  color: white;
}

.bg-sup{
  background-image: url('/img/content/bookshelf.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 600px;
  color: white;
}
.panel-bg {
  background-color: #a3e4ff;
  color:white;
}

.tab-border {
  border: 1px solid black;
}
.social-iconlist li {
  text-decoration: none;
  display: inline;
  list-style-type: none;
  float: left;
  margin: 5px;
}

/* LINE TABS */
/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
.box-padding {
  padding-top: 100px;
}
.well-border {
  border: 1px solid darkgrey;
}
.font-black {
  color:black;
}
.font-white {
  color:white;
}
.auto-margin{
  margin-left: auto;
  margin-right: auto;
}
.first-padding {
padding-top: 300px;
}
.text-padding {
  padding-left: 5%;
  padding-right: 5%;
}

.navbar-default {
border: none;
}
.navbar-default .navbar-brand {
  color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: white;
}
.navbar-default .navbar-nav > li:active{
  color: white;
  background-color: none;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
  color: red;
  border-bottom: 1px solid red;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: red;
  border-bottom: 1px solid red;
}

.brands{
    list-style-type: none;
    float:left;
    width: 100%;
    background-color: #8e8e8e;
    border-radius: 8px;
}
.brands li {
  display: inline-block;
    list-style-type: none;
  margin: 5px 5px;
  padding: 30px;
}
.brands li img{
border: none;
width: 150px;
height: auto;
}
.social{
    list-style-type: none;
    float:right;
    border-radius: 8px;
}
.social li {
  display: inline-block;
  list-style-type: none;
  padding: 5px;
}
.social i:hover {
  color:red;
}
ul{
  list-style-type: none;
}
td{
  padding: 1px;
}
.footer_contact{

}
.cart {
  float: right;
  position: fixed;
}
