@font-face {
font-family: 'minecraft';
src: url('/font/Minecraftia-Regular.ttf');
}
body {
  font-family: 'minecraft';
  font-size: 14px;
  text-align: center;
  background-color: #000000;
  color: white;
  height: 100%;
}
span, i{
vertical-align: top;
}
a { vertical-align:text-bottom; }
img .logo{
  width: 3%;
}

/* BOOTSTRAP */

.container{
  width: 50%;
  background-color: black;
}
.navbar{
  background-color: black;
  color: white;
}
.navbar ul li a{
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}
.nav{
  color: white;
}

.navbar ul li a:hover{
  color:black;
}
.navbar ul li a:active{
  color:black;
}

/*Center Navigation Buttons*/
.navbar-nav{
  display: inline-block;
  float: none;
}
.dropdown-menu li a{
  color:black;
}

.bg-black{
  background-color: #000000;
}


.col-sm-7 img{
  width: 20%;
  margin:auto;
  display: block;
}

.container-padding{
  padding: 100px 50px;
}

.social-list{
  display:inline-block;
  list-style-type: none;
}
.social-list li {
  padding: 2px;
}
.social-list i {
  margin: 5px;
}

.panel-bg {
  background-color: #a3e4ff;
  color:white;
}

.social-iconlist li {
  text-decoration: none;
  display: inline;
  list-style-type: none;
  float: left;
  margin: 5px;
}

.box-padding {
  padding-top: 100px;
}
.well-border {
  border: 1px solid darkgrey;
}
.font-black {
  color:black;
}
.font-white {
  color:white;
}

.first-padding {
padding-top: 300px;
}
.text-padding {
  padding-left: 5%;
  padding-right: 5%;
}

.navbar-default {
border: none;
}
.navbar-default .navbar-brand {
  color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: white;
}
.navbar-default .navbar-nav > li:active{
  color: white;
  background-color: none;
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active {
  color: red;
  border-bottom: 1px solid red;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
  color: red;
  border-bottom: 1px solid red;
}

.social{
    list-style-type: none;
    text-align: center;
    border-radius: 8px;
}
.social li {
  display: inline-block;
  list-style-type: none;
  padding: 5px;
}
.social i:hover {
  color:red;
}
ul{
  list-style-type: none;
}
td{
  padding: 1px;
}
.footer_contact{

}
#cart {
position: fixed;
width: 100%;
margin: 10px;
}
.select {
  width: 100%;
}
.brandlogo ul li {
  margin: 10px;
  padding: 10px;
  text-align: center;
  align-items: center;
}

.brandlogo ul li img {
  width: 70%;
  height: auto;
}

input {
  padding: 5px;
  width: 80%;
  background: black;
  color:white;
  margin: 5px;
}
textarea{
  padding: 5px;
  width: 80%;
  background: black;
  color:white;
  margin: 5px;
}
select{
  width: 80%;
  background: black;
  color:white;
  margin: 5px;
}
.popover {
  font-family: 'minecraft';
  font-size: 12px;
  color:white;
}
.popover-title {
  background-color: black;
}
.popover-content{
  background-color: black;
}


/*MODALS*/
.modal {
  background-color: black;
  color:white;
}
.modal-header{
  background-color: black;
  color:white;
}
.modal-content{
  background-color: black;
  color:white;
}
.modal-body{
  background: black;
  color:white;
}
.modal-title{
  background-color: black;
  color:white;
}
.modal-footer{
  background-color: black;
  color:white;
}
.close{
  color:white;
}
p {
  padding: 3px;
}
